# - Replication -

# primary_conninfo = ''
# hot_standby = true

# - Archive Recovery -

# restore_command = '/home/postgres/wal_fetch.sh %f %p >> /var/log/wal-g/wal-fetch.log 2>&1'
# recovery_target_timeline = 'latest'
