host  all  pgbouncer 0.0.0.0/0   scram-sha-256
host  all  supabase_admin 0.0.0.0/0   scram-sha-256
host  all  supabase_auth_admin 0.0.0.0/0   scram-sha-256
host  all  supabase_storage_admin 0.0.0.0/0   scram-sha-256
host  all  supabase_replication_admin 0.0.0.0/0   scram-sha-256

host  all  pgbouncer ::0/0   scram-sha-256
host  all  supabase_admin ::0/0   scram-sha-256
host  all  supabase_auth_admin ::0/0   scram-sha-256
host  all  supabase_storage_admin ::0/0   scram-sha-256
host  all  supabase_replication_admin ::0/0   scram-sha-256
