[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
Requires=generate-optimizations.service
After=generate-optimizations.service

[Service]
Type=notify
User=postgres
ExecStart=/usr/lib/postgresql/bin/postgres -D /etc/postgresql
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGINT
TimeoutSec=0

[Install]
WantedBy=multi-user.target
