.*
!.env
!.gitignore
!.gitkeep
!/.claude/
!/.coderabbit.yaml
!/.envrc.recommended
!/.github/
/.claude/settings.local.json

# ansible related
ansible/image-manifest*.json

# python related
*$py.class
*.py[cod]
__pycache__/
venv/

#nix related
common-nix.vars.pkr.hcl
db/schema.sql
nixos.qcow2
result*
