[Unit]
Description=Postgres Exporter

[Service]
Type=simple
ExecStart=/opt/postgres_exporter/postgres_exporter --auto-discover-databases --disable-settings-metrics --extend.query-path="/opt/postgres_exporter/queries.yml" --disable-default-metrics
User=root
StandardOutput=append:/var/log/postgres_exporter.stdout
StandardError=append:/var/log/postgres_exporter.error
Restart=always
RestartSec=3
Environment="DATA_SOURCE_URI=localhost/postgres?sslmode=disable"
Environment="DATA_SOURCE_USER=supabase_metrics"

[Install]
WantedBy=multi-user.target
