# Downloading dependencies
- name: Postgres dependencies
  apt:
    pkg:
      - build-essential
      - libreadline-dev
      - zlib1g-dev
      - flex
      - bison
      - libxml2-dev
      - libxslt-dev
      - libssl-dev
      - libsystemd-dev
      - libpq-dev
      - libxml2-utils
      - uuid-dev
      - xsltproc
      - ssl-cert

- name: Download LLVM & Clang
  apt:
    pkg:
      - llvm-11-dev
      - clang-11

- name: Download GCC 10
  apt:
    pkg:
      - gcc-10
      - g++-10

- name: Switch to GCC 10
  shell:
    cmd: update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-10 100 --slave /usr/bin/g++ g++ /usr/bin/g++-10 --slave /usr/bin/gcov gcov /usr/bin/gcov-10

# Setup permissions
- name: Update permissions for /var/tmp directory
  file:
    path: /var/tmp/
    owner: root
    group: root
    mode: '1777'
  become: yes

# Building Postgres from source
- name: Postgres - download latest release
  get_url:
    url: https://ftp.postgresql.org/pub/source/v{{ postgresql_release }}/postgresql-{{ postgresql_release }}.tar.gz
    dest: /tmp
    checksum: "{{ postgresql_release_checksum }}"
    timeout: 60

- name: Postgres - unpack archive
  unarchive:
    remote_src: yes
    src: /tmp/postgresql-{{ postgresql_release }}.tar.gz
    dest: /tmp

- name: Setting CFLAGS (arm)
  set_fact:
    cflags: "-moutline-atomics -mtune=neoverse-n1 -fsigned-char"
  when: platform == "arm64"

- name: Setting CFLAGS (x86)
  set_fact:
    cflags: "-fsigned-char"
  when: platform == "amd64"

- name: Postgres - configure
  shell:
    cmd: CFLAGS='{{ cflags }}' LLVM_CONFIG=/usr/bin/llvm-config-11 CLANG=/usr/bin/clang-11 ./configure --with-llvm --with-openssl --with-systemd --with-uuid=e2fs --with-libxml --exec-prefix=/usr/lib/postgresql --datarootdir=/var/lib/postgresql
    chdir: /tmp/postgresql-{{ postgresql_release }}

- name: Postgres - build
  make:
    target: world-bin
    chdir: /tmp/postgresql-{{ postgresql_release }}

- name: Postgres - install
  make:
    target: install-world-bin
    chdir: /tmp/postgresql-{{ postgresql_release }}

- name: Create postgres group
  group:
    name: postgres
    state: present

# Create postgres user
- name: Create postgres user
  user:
    name: postgres
    shell: /bin/false
    comment: Postgres user
    group: postgres
    groups: postgres,ssl-cert

- name: Create relevant directories
  file:
    path: '{{ item }}'
    recurse: yes
    state: directory
    owner: postgres
    group: postgres
  with_items:
    - '/etc/postgresql'
    - '/etc/postgresql-custom'
    - '/var/log/postgresql'
    - '/var/lib/postgresql'

- name: Allow adminapi to write custom config
  file:
    path: '{{ item }}'
    recurse: yes
    state: directory
    owner: postgres
    group: postgres
    mode: 0775
  with_items:
    - '/etc/postgresql-custom'

- name: create placeholder config files
  file:
    path: '/etc/postgresql-custom/{{ item }}'
    state: touch
    owner: postgres
    group: postgres
    mode: 0664
  with_items:
    - 'generated-optimizations.conf'
    - 'custom-overrides.conf'

# Move Postgres configuration files into /etc/postgresql
# Add postgresql.conf
- name: import postgresql.conf
  template:
    src: files/postgresql_config/postgresql.conf.j2
    dest: /etc/postgresql/postgresql.conf
    group: postgres

# Add pg_hba.conf
- name: import pg_hba.conf
  template:
    src: files/postgresql_config/pg_hba.conf.j2
    dest: /etc/postgresql/pg_hba.conf
    group: postgres

# Add pg_ident.conf
- name: import pg_ident.conf
  template:
    src: files/postgresql_config/pg_ident.conf.j2
    dest: /etc/postgresql/pg_ident.conf
    group: postgres

- name: Find all files in /usr/lib/postgresql/bin
  find:
    paths: /usr/lib/postgresql/bin
  register: postgresql_bin

- name: Find all files in /usr/lib/postgresql/lib
  find:
    paths: /usr/lib/postgresql/lib
  register: postgresql_lib

- name: Create symbolic links for Postgres binaries to /usr/bin/
  become: yes
  file:
    src: "{{ item.path }}"
    path: "/usr/bin/{{ item.path | basename }}"
    state: link
    force: yes
  with_items: "{{ postgresql_bin.files }}"

# init DB
- name: Create directories on data volume
  file:
    path: '{{ item }}'
    recurse: yes
    state: directory
    owner: postgres
    group: postgres
    mode: 0750
  with_items:
    - "/data/pgdata"
    - "/data/bin"
    - "/data/lib"

- name: Link database data_dir to data volume directory
  file:
    src: "/data/pgdata"
    path: "/var/lib/postgresql/data"
    state: link
    force: yes

- name: Copy binaries to data volume
  become: yes
  file:
    src: "{{ item.path }}"
    path: "/data/bin/{{ item.path | basename }}"
    force: yes
  with_items: "{{ postgresql_bin.files }}"

- name: Copy library files to data volume
  become: yes
  file:
    src: "{{ item.path }}"
    path: "/data/lib/{{ item.path | basename }}"
    force: yes
  with_items: "{{ postgresql_lib.files }}"

- name: Initialize the database
  become: yes
  become_user: postgres
  shell:
    cmd: /usr/lib/postgresql/bin/pg_ctl -D /var/lib/postgresql/data initdb -o "--allow-group-access"
  vars:
    ansible_command_timeout: 60
    # Circumvents the following error:
    # "Timeout (12s) waiting for privilege escalation prompt"

- name: copy PG systemd unit
  template:
    src: files/postgresql_config/postgresql.service.j2
    dest: /etc/systemd/system/postgresql.service

- name: copy optimizations systemd unit
  template:
    src: files/generate-optimizations.service.j2
    dest: /etc/systemd/system/generate-optimizations.service

# Reload
- name: System - systemd reload
  systemd:
    enabled: yes
    name: postgresql
    daemon_reload: yes
