# WAL-G
- name: Install daemontools
  become: yes
  apt:
    pkg:
      - daemontools

- name: wal-g system dependencies
  apt:
    pkg:
      - liblzo2-dev
      - cmake
      - build-essential

# find platform architecture
- name: finding platform architecture
  shell: if [ $(uname -m) = "aarch64" ]; then echo "arm64";  else echo "amd64"; fi
  register: platform_output
- set_fact:
    platform: "{{ platform_output.stdout }}"

- name: finding platform architecture - aws
  shell: if [ $(uname -m) = "aarch64" ]; then echo "aarch64";  else echo "x86_64"; fi
  register: platform_output
- set_fact:
    platform_aws: "{{ platform_output.stdout }}"

# install go dependency for WAL-G
- name: wal-g go dependency
  get_url:
    url: "https://golang.org/dl/go{{ golang_version }}.linux-{{ platform }}.tar.gz"
    dest: /tmp
- name: unpack go archive
  unarchive:
    remote_src: yes
    src: "/tmp/go{{ golang_version }}.linux-{{ platform }}.tar.gz"
    dest: /usr/local

# Download WAL-G
- name: download wal-g
  shell:
    cmd: go get github.com/wal-g/wal-g;
  environment:
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin"
  ignore_errors: yes
  # ignore error https://github.com/wal-g/wal-g/issues/343#issuecomment-514544288

# Install WAL-G
- name: install wal-g
  become: yes
  shell:
    cmd: make install && make deps && make pg_install
    chdir: "{{ ansible_env.HOME }}/go/src/github.com/wal-g/wal-g"
  environment:
    GOBIN: "/usr/local/bin"
    PATH: "{{ ansible_env.PATH }}:/usr/local/go/bin"

# Install PgBouncer
- name: install PgBouncer
  become: yes
  apt:
    pkg:
      - pgbouncer
