- name: Cleanup - remove build dependencies
  apt:
    pkg:
      - python3
      - rsync
      - ca-certificates
      - build-essential
      - postgresql-server-dev-{{ postgresql_major }}
      - curl
      - git-core
      - gpp
      - cpp
      - pkg-config
      - apt-transport-https
      - cmake
      - ninja-build
      - python
    state: absent
