- hosts: all
  become: yes

  pre_tasks:
    - import_tasks: tasks/setup-system.yml

  vars_files:
    - ./vars.yml

  roles:
    - role: anxs.postgresql

  tasks:
    - name: Install non-Postgres extensions
      import_tasks: tasks/setup-misc.yml

    - name: Install Postgres extensions
      import_tasks: tasks/setup-extensions.yml

    - name: Adjust APT update intervals
      copy:
        src: files/apt_periodic
        dest: /etc/apt/apt.conf.d/10periodic

    - name: Dump PgBouncer auth schema
      copy:
        src: files/pgbouncer_auth_schema.sql
        dest: /tmp/00-schema.sql

    - name: Set up readonly user for the public schema
      become_user: postgres
      shell: 
        cmd: psql -f /tmp/00-schema.sql

    - name: Delete SQL script
      file:
        path: /tmp/00-schema.sql
        state: absent

    - name: Adjust pgbouncer.ini
      copy:
        src: files/pgbouncer.ini
        dest: /etc/pgbouncer/pgbouncer.ini

    - name: UFW - Allow SSH connections
      ufw:
        rule: allow
        name: OpenSSH

    - name: UFW - Allow connections to postgreSQL (5432)
      ufw:
        rule: allow
        port: "5432"

    - name: UFW - Allow connections to postgreSQL (6543)
      ufw:
        rule: allow
        port: "6543"

    - name: UFW - Deny all other incoming traffix by default
      ufw:
        state: enabled
        policy: deny
        direction: incoming

    - name: Setup logrotate for postgres logs
      copy:
        src: files/logrotate-postgres
        dest: /etc/logrotate.d/postgres

    # Install EC2 instance connect
    # Only for AWS images
    - name: install EC2 instance connect
      become: yes
      apt:
        pkg:
          - ec2-instance-connect
      tags:
        - aws-only
