supabase_internal: true

postgresql_major: "14"
postgresql_release: "14.1"
postgresql_release_checksum: sha1:f6c114a4be41ca876deeb462e9d02237b186743c

# Non Postgres Extensions
pgbouncer_release: "1.16.1"
pgbouncer_release_checksum: sha1:14c75af0b5a11b0363b6146170b516db498fc998

postgrest_release: "8.0.0"
postgrest_arm_release_checksum: sha1:29a49bb898d5008b746822acdbaa4fabb51b5c44
postgrest_x86_release_checksum: sha1:dfd3b88b3acddd0ede52c6bed2bb7c02cbcac5dd

aws_cli_release: "2.2.7"

golang_version: "1.17.3"
golang_version_checksum:
  arm64: sha256:06f505c8d27203f78706ad04e47050b49092f1b06dc9ac4fbee4f0e4d015c8d4
  amd64: sha256:550f9845451c0c94be679faf116291e7807a8d78b43149f9506c1b15eb89008c

wal_g_release: "v1.1-backports"

sfcgal_release: "1.3.10"
sfcgal_release_checksum: sha1:f4add34a00afb0b5f594685fc646565a2bda259b

postgres_exporter_release: "0.9.0"
postgres_exporter_release_checksum:
  arm64: sha256:d869c16791481dc8475487ad84ae4371a63f9b399898ca1c666eead5cccf7182
  amd64: sha256:ff541bd3ee19c0ae003d71424a75edfcc8695e828dd20d5b4555ce433c89d60b

node_exporter_release: 1.1.2
node_exporter_release_checksum:
  arm64: sha256:eb5e7d16f18bb3272d0d832986fc8ac6cb0b6c42d487c94e15dabb10feae8e04
  amd64: sha256:8c1f6a317457a658e0ae68ad710f6b4098db2cad10204649b51e3c043aa3e70d

adminapi_release: 0.16.1
adminapi_release_checksum:
  arm64: sha256:96ad2a67063882c77ff63b73a2bf82e9af1bae837a33070484593eaca28b05b5
  amd64: sha256:5e82ac02ef43b9c962f840a0fb5e93b11969ab58e11b087afd8685d25d4c8cdb

# Postgres Extensions
postgis_release: "3.1.4"
postgis_release_checksum: sha1:3077da5136841d9d51a4325a233be8eccf763c38

pgrouting_release: "3.3.0"
pgrouting_release_checksum: sha1:7475189f334bc97e1b3587b2f456a573c8aa811a

pgtap_release: "1.1.0"
pgtap_release_checksum: sha1:cca57708e723de18735a723b774577dc52f6f31e

pg_cron_release: "1.4.1"
pg_cron_release_checksum: sha1:411cb25b64a3aefc26e9b0c9d9de205cbeefe631

pgaudit_release: "1.6.1"
pgaudit_release_checksum: sha1:2fae2690d38a1822b6e8f40ad6b2bd8669498659

pgsql_http_release: "1.3.1"
pgsql_http_release_checksum: sha1:816a3fff53e05301b176cf0696799fc5a00f54e8

plpgsql_check_release: "2.0.6"
plpgsql_check_release_checksum: sha1:3f3ca49e38ee87392fd62f1a62a481c445e1c6c2

pg_safeupdate_release: "1.4"
pg_safeupdate_release_checksum: sha1:942dacd0ebce6123944212ffb3d6b5a0c09174f9

timescaledb_release: "2.3.0"

wal2json_release: "2_4"
wal2json_release_checksum: sha1:9f5c8dec3c0a5c19b1b77273f67fd9b0b0ab6664

supautils_release: "1.1.2"
supautils_release_checksum: sha1:2f224207b08bf629b21a0d7f4c236360821ee5c6

pljava_release: "1_6_3"
pljava_release_checksum: sha1:550bea791c404c9d62050fd9c330e162bab20763

plv8_commit_version: 3656177d384e3e02b74faa8e2931600f3690ab59

pg_plan_filter_commit_version: 5081a7b5cb890876e67d8e7486b6a64c38c9a492

pg_net_release: "0.3"
pg_net_release_checksum: sha1:0695ad2e4e9b2a35a77dfa89bd4c5a90c622eb24

rum_release: "1.3.9"
rum_release_checksum: sha1:71901640ccf9e2e1886aad37703a9fd07ced9e53

vector_x86_deb: 'https://packages.timber.io/vector/0.17.0/vector-0.17.0-amd64.deb'
vector_arm_deb: 'https://packages.timber.io/vector/0.17.0/vector-0.17.0-arm64.deb'

libsodium_release: "1.0.18"
libsodium_release_checksum: sha1:795b73e3f92a362fabee238a71735579bf46bb97

pgsodium_release: "2.0.1"
pgsodium_release_checksum: sha1:b6ef733c9bbae590c1eee676fd0a97fd129893e0

osquery_deb: 'https://pkg.osquery.io/deb/osquery_5.1.0-1.linux_arm64.deb'
osquery_deb_checksum: sha1:6b6fa49edcfad5d77aa1e59c75b8708de2f634ac

scws_release: "1.2.3"
scws_release_checksum: sha1:cf8366ecbf533ffb1f20983f0149feb0b8756d92