[Unit]
Description=Check if systemd-networkd has broken NDisc routes and fix

[Service]
Type=oneshot
# This needs to be root for the service restart to work
User=root
Group=root
ExecStart=/usr/local/bin/systemd-networkd-check-and-fix.sh

Requisite=systemd-networkd.service
