name: Check shell scripts

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run ShellCheck
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -e SC2001 -e SC2002 -e SC2143
      with:
        scandir: './ansible/files/admin_api_scripts'

    - name: Run ShellCheck on pg_upgrade scripts
      uses: ludeeus/action-shellcheck@master
      env:
        SHELLCHECK_OPTS: -e SC2001 -e SC2002 -e SC2143
      with:
        scandir: './ansible/files/admin_api_scripts/pg_upgrade_scripts'
      