name: Run CI checks

on:
  push:
    branches:
      - da/upgrade-adminapi

jobs:
  build:
    runs-on: [self-hosted, linux]
    timeout-minutes: 150

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Build AMI
        run: |
          packer build -timestamp-ui -color=false -on-error=cleanup -var-file common.vars.json -var-file development-arm.vars.json amazon.json
